.App {
  text-align: center;
}

html,body {
  background-color: #222;
  color: #eee;
}

#gameBoard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.gameCell {
  width: 30vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10vw;
  border: 1px solid white;
  cursor: pointer;
  text-shadow: 0.2rem 0.2rem 0.5rem #000;
}

.thinking {
  cursor: not-allowed;
}

.taken {
  cursor: default;
}